/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtest-1.7.0/
/gtest-1.7.0.zip
/gtest-all.o
/install-sh
/libgtest.a
/libmemkind.la
/.libs/
/libtool
/ltmain.sh
/m4/
/memkind-*.spec
/memkind-*.tar.gz
/Makefile
/Makefile.in
/memkind-pmtt
/missing
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/*.lo
/src/memkind_defines.h.in
/src/*.o
/stamp-h1
/test/all_tests
/test/.deps/
/test/.dirstamp
/test/environerr_test
/test/.libs/
/test/mallctlerr_test
/test/mallocerr_test
/test/*.o
/test/pmtterr_test
/test/schedcpu_test
/test/*.so
/test/tieddisterr_test
/VERSION
/examples/.deps/
/examples/.dirstamp
/examples/.libs/
/examples/examples_stream_memkind-stream_example.o
/examples/filter_example.o
/examples/filter_memkind
/examples/hello_hbw
/examples/hello_hbw_example.o
/examples/hello_memkind
/examples/hello_memkind_example.o
/examples/new_kind
/examples/new_kind_example.o
/examples/stream
/examples/stream_example.o
/examples/stream_memkind
/examples/gb_realloc
/examples/gb_realloc_example.o
/examples/eratosthenes
/examples/eratosthenes_example.o
/examples/test_stream_memkind-stream_example.o
/test/filter_memkind
/test/gb_realloc
/test/hello_hbw
/test/hello_memkind
/test/new_kind
/test/stream
/test/stream_memkind
/test/eratosthenes
/examples/libnumakind.la
/examples/numakind.lo
/examples/numakind.o
/examples/numakind_test
/examples/numakind_test.o
