*.a
*.la
*.lo
*.o
*.so
.cproject
.deps/
.dirstamp
.libs/
.project
/Makefile
/Makefile.in
/VERSION
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config_tls.h
/configure
/depcomp
/examples/*.la
/examples/*.lo
/examples/*.o
/examples/.deps/
/examples/.dirstamp
/examples/.libs/
/examples/autohbw_candidates
/examples/filter_memkind
/examples/hello_hbw
/examples/hello_memkind
/examples/hello_memkind_debug
/examples/memkind_allocated
/examples/memkind_cpp_allocator
/examples/memkind_get_stat
/examples/pmem_alignment
/examples/pmem_and_dax_kmem_kind
/examples/pmem_and_default_kind
/examples/pmem_config
/examples/pmem_cpp_allocator
/examples/pmem_detect_kind
/examples/pmem_free_with_unknown_kind
/examples/pmem_kinds
/examples/pmem_malloc
/examples/pmem_malloc_unlimited
/examples/pmem_multithreads
/examples/pmem_multithreads_onekind
/examples/pmem_usable_size
/install-sh
/jemalloc/configure
/jemalloc/obj/
/libtool
/ltmain.sh
/m4/
/memkind-*.spec
/memkind-*.tar.gz
/memkind-auto-dax-kmem-nodes
/memkind-hbw-nodes
/missing
/src/memkind_defines.h.in
/stamp-h1
/stamp-h2
/test-driver
/test-suite.log
/test/*.o
/test/*.so
/test/.deps/
/test/.dirstamp
/test/.libs/
/test/all_tests
/test/alloc_benchmark_glibc
/test/alloc_benchmark_hbw
/test/alloc_benchmark_pmem
/test/alloc_benchmark_tbb
/test/allocator_perf_tool_tests
/test/autohbw_candidates
/test/autohbw_test_helper
/test/check.sh.log
/test/check.sh.trs
/test/dax_kmem_test
/test/decorator_test
/test/environ_err_dax_kmem_malloc_positive_test
/test/environ_err_dax_kmem_malloc_test
/test/environ_err_hbw_malloc_test
/test/environerr_hbw_malloc_test
/test/environerr_test
/test/filter_memkind
/test/fragmentation_benchmark_pmem
/test/freeing_memory_segfault_test
/test/gb_page_tests_bind_policy
/test/hello_hbw
/test/hello_memkind
/test/hello_memkind_debug
/test/locality_test
/test/mallocerr_test
/test/memkind_allocated
/test/memkind_cpp_allocator
/test/memkind_get_stat
/test/memkind_stat_test
/test/perf_tool
/test/performance_test
/test/performance/.deps/
/test/pmem_alignment
/test/pmem_and_dax_kmem_kind
/test/pmem_and_default_kind
/test/pmem_config
/test/pmem_cpp_allocator
/test/pmem_detect_kind
/test/pmem_free_with_unknown_kind
/test/pmem_kinds
/test/pmem_malloc
/test/pmem_malloc_unlimited
/test/pmem_multithreads
/test/pmem_multithreads_onekind
/test/pmem_test
/test/pmem_usable_size
/test/trace_mechanism_test_helper
/vs
autom4te.cache/
memkind.pc
