/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/config_tls.h
/gtest-1.7.0/
/gtest-1.7.0.zip
/gtest-all.o
/install-sh
/libgtest.a
/libmemkind.la
/.libs/
/libtool
/ltmain.sh
/m4/
/memkind-*.spec
/memkind-*.tar.gz
/Makefile
/Makefile.in
/memkind-pmtt
/missing
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/*.lo
/src/memkind_defines.h.in
/src/*.o
/stamp-h1
/stamp-h2
/test/all_tests
/test/.deps/
/test/.dirstamp
/test/environerr_test
/test/.libs/
/test/mallctlerr_test
/test/mallocerr_test
/test/*.o
/test/pmtterr_test
/test/schedcpu_test
/test/*.so
/test/tieddisterr_test
/test/perf/
/VERSION
/examples/.deps/
/examples/.dirstamp
/examples/.libs/
/examples/*.o
/examples/*.lo
/examples/*.la
/examples/filter_memkind
/examples/hello_hbw
/examples/memkind_allocated
/examples/hello_memkind
/examples/hello_memkind_example.o
/examples/hello_memkind_debug
/examples/new_kind
/examples/stream
/examples/stream_memkind
/examples/gb_realloc
/examples/eratosthenes
/examples/numakind_test
/examples/numakind_macro.h
/examples/pmem_memkind
/test/filter_memkind
/test/gb_realloc
/test/hello_hbw
/test/memkind_allocated
/test/hello_memkind
/test/new_kind
/test/stream
/test/stream_memkind
/test/eratosthenes
/test/memkind-pmtt
/test/pmem
/examples/libnumakind.la
/examples/numakind.lo
/examples/numakind.o
/examples/numakind_test
/examples/numakind_test.o
/examples/examples_libnumakind_la-numakind.lo
/examples/examples_libnumakind_la-numakind.o
/examples/numakind_macro.h
/examples/autohbw.lo
/examples/autohbw.o
/examples/libautohbw.la
/examples/memkind_decorator_debug.o
/stamp-h2
/test-driver

